<div class="container">
<h1>Bookings Details</h1>
<p><%= @booking.start_date %></p>
<p><%= @booking.end_date %></p>

<h1>Record Details</h1>
<p><%= @booking.record.artist %></p>
<p><%= @booking.record.title %></p>
<p><%= @booking.record.year %></p>
<p><%= @booking.record.genre %></p>
<p><%= @booking.record.label %></p>

</div>



