
<!-- <div class="your-records" id="your-records">
  <%# @records.each do |record| %>
    <div class="message">
      <img class="avatar-large" src="app/assets/images/dsotm.jpg">
        <div class="message-body">

              <h1><%#record.title %></h1>

<p>
  <strong>Artist:</strong>
  <%= record.artist %>
</p>

<p>
  <strong>Year:</strong>
  <%= record.year %>
</p>

<p>
   <strong>Genre:</strong>
  <%= record.genre %>
</p>

<p>
   <strong>Label:</strong>
  <%= record.label %>
</p>

<p>
  <strong>Price per Day:</strong>
  <%= record.price  %> €
</p>
          </p>
        </div>
        <div class="message-status">
          <p>Booking status:<%# @booking.status %></p>
        </div>
        <div class="message-status">
          <p class="price">Rate per day: <%# @booking.record.price %>€</p>
        </div>
        <div class="message-buttons">
          <%# link_to 'Accept', accept_record_booking_path(record, @booking),
          method: "post",
          data: { confirm: "Accept booking?" },
          class: 'btn btn-primary' %>
          <%# link_to= 'Decline', decline_record_booking_path(vinyl,@booking),
           method: "post",
          data: { confirm: "Decline booking?" },
          class: 'btn btn-primary' %>
        </div>
    </div>
<%# end  %>
</div>
-->
