<h1>Update Record</h1>

<div class="container">
<%= simple_form_for @record do |f| %>
  <%# f.association :record, as: :select %>
  <%= f.input :artist %>
  <%= f.input :title %>
  <%= f.input :year %>
  <%= f.input :label %>
  <%= f.input :genre, as: :select, collection: ["Rock", "Blues", "Pop", "Hip Hop", "Metal", "Electro - Techno", "Electro - House"]  %>
  <%= f.input :photo %>
  <%=f.input :photo_cache, as: :hidden %>
  <%= f.input :price %>
  <%= f.button :submit, "Update Record", class: 'btn btn-primary' %>
<% end %>
</div>
