
 <h1>List of records</h1>


<div class="container">
  <div class="row">
    <% @records.each do |record| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url(<%= image_path 'dsotm.jpg' %>);">
          <h2><%= record.title %></h2>
          <p><%= record.artist %></p>
          <p><%= record.price %> € per day </p>
          <p>  <%= link_to 'Watch details', record_path(record), class: 'btn btn-primary' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>





