
 <h1>Results</h1>

<div class="container">
  <div class="row">
    <% @records.each do |record| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.4) 100%), url(<%= image_path 'dsotm.jpg' %>);">
          <div class="card-description">
            <p>  <%= link_to 'Details', record_path(record), class: 'btn btn-primary pull-right' %></p>
          <h2><%= record.title %></h2>
          <p><%= record.artist %></p>
          <p><%= record.price %> € per day </p>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>




