<h1>Add New Record</h1>

<div class="container">
<%= simple_form_for @record do |f| %>
  <%= f.input :artist %>
  <%= f.input :title %>
  <%= f.input :year %>
  <%= f.input :label %>
  <%= f.input :genre, as: :select, collection: ["Rock", "Blues", "Pop", "Hip Hop", "Metal", "Electro - Techno", "Electro - House"]  %>
  <%= f.input :address, id: "record_address"  %>
  <%= f.input :price %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.button :submit, "Add Record", class: 'btn btn-primary' %>
<% end %>
</div>


