<h1>Records#show</h1>
<p>Find me in app/views/records/show.html.erb</p>

<h1>The record</h1>

<p>
  <strong>Artist:</strong>
  <%= @record.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @record.title %>
</p>

<p>
  <strong>Year</strong>
  <%= @record.year %>
</p>

<p>
  Genre
  <%= @record.genre %>
</p>

<p>
  Label
  <%= @record.label %>
</p>

<p>
  <strong>Price per Day</strong>
  <%= @record.price %>
</p>

 <!--   if not signed/ loged in - sing in or log in , else book it > -->

