<h1><%= @record.title %></h1>

<p>
  <strong>Artist:</strong>
  <%= @record.artist %>
</p>


<p>
  <strong>Year:</strong>
  <%= @record.year %>
</p>

<p>
   <strong>Genre:</strong>
  <%= @record.genre %>
</p>

<p>
   <strong>Label:</strong>
  <%= @record.label %>
</p>

<p>
  <strong>Price per Day:</strong>
  <%= @record.price  %> €
</p>

<%= link_to 'Book Now', records_path, class: 'btn btn-primary' %>
<%= link_to 'Go back to search results', records_path, class: 'btn btn-primary' %>
<%= link_to 'Delete Record', record_path(@record),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: 'btn btn-primary' %>

